.input-group > .form-control:not(:last-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > .form-control{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    font-size: 16px;
}
input[type="text"]
{
    font-size:1rem;
}
.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
h2{
    font-size: 1.75rem;
}
